<p id="notice"><%= notice %></p>

<p>
  <strong>Suggestion:</strong>
  <%= @comment.suggestion_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @comment.comment %>
</p>

<p>
  <strong>Active status:</strong>
  <%= @comment.active_status %>
</p>

<p>
  <strong>Del status:</strong>
  <%= @comment.del_status %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
